/* For widths between 250px and 700px */
@media screen and (max-width: 700px) and (min-width: 250px) {
	#video-section .brand-container h1 {
		font-size: 4rem !important;
		padding-top: 2rem;
	}

	#video-section .brand-container h2 {
		font-size: 0.8rem;
	}

	#video-section .brand-container span {
		font-size: 3.5rem;
	}

	#video-section .scroll-down {
		margin-top: 1.5rem;
	}

	#about-section .about-title {
		font-size: 2rem;
	}
}

/* For widths less than 700px wide, hide all links, except for the last one (hamburger bar). */

@media screen and (max-width: 700px) {
	#navigation a:not(:last-child) {
		display: none;
	}
	#navigation a.hamburger-bar {
		float: right;
		display: block;
	}

	/* The "responsive" class is added to the navigation with JavaScript when the user clicks on the hamburger bar. This class makes the navigation display links vertically on small screens */

	#navigation {
		top: 0;
	}

	#navigation.responsive {
		position: fixed;
	}

	#navigation.responsive a.hamburger-bar {
		position: fixed;
		right: 0;
		top: 0;
	}
	#navigation.responsive a {
		float: none;
		display: block;
		text-align: center;
		font-size: 1.2rem;
	}

	#video-section .brand-container h1 {
		font-size: 4.5rem;
	}

	#video-section .brand-container h2 {
		font-size: 1.2rem;
	}

	#video-section .brand-container span {
		font-size: 3.5rem;
	}

	#about-section {
		display: flex;
		flex-direction: column;
	}
}

/* For widths less than 1000px */
@media screen and (max-width: 1000px) {
	#navigation a {
		font-size: 1.2rem;
	}

	/* Map section - change to grid layout on screens smaller than 1000px wide */

	#map-section {
		display: grid;
		grid-template-columns: 1fr;
	}

	#map-section .categories-container {
		padding: 4rem 2rem;
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		width: 100%;
		height: auto;
	}

	#map-section .instructions {
		grid-column-start: span 2;
		padding-top: 1.5rem;
	}

	#about-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
