/* Responsive Navigation */

/* When the screen is less than 700 pixels wide, hide all links, except for the last one (hamburger bar). */

@media screen and (max-width: 700px) {
	#navigation a:not(:last-child) {
		display: none;
	}
	#navigation a.hamburger-bar {
		float: right;
		display: block;
	}

	/* The "responsive" class is added to the navigation with JavaScript when the user clicks on the hamburger bar. This class makes the navigation display links vertically on small screens */

	#navigation {
		top: 0;
	}

	#navigation.responsive {
		position: fixed;
	}

	#navigation.responsive a.hamburger-bar {
		position: fixed;
		right: 0;
		top: 0;
	}
	#navigation.responsive a {
		float: none;
		display: block;
		text-align: center;
	}

	#video-section .brand-container h1 {
		font-size: 4.5rem;
	}

	#video-section .brand-container i {
		font-size: 3.5rem;
	}

	#about-section {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 1000px) {
	/* Map section - change to grid layout on screens smaller than 1000px wide */

	#map-section {
		display: grid;
		grid-template-columns: 1fr;
	}

	#map-section .categories-container {
		padding: 4rem 2rem;
		display: grid;
		grid-gap: 0.5rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr;
		width: 100%;
		height: auto;
	}

	#map-section .instructions {
		grid-column-start: span 2;
		padding-top: 1.5rem;
	}

	#about-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
