body {
	margin: 0;
	box-sizing: border-box;
}

p,
b,
li {
	font-family: "Pangolin", cursive;
}

/* ---------------------------- Bottom line style */
.bottom-line {
	height: 2px;
	width: 3rem;
	background: #ff70e2;
	display: block;
	margin: 0 auto 1rem auto;
}
/* ---------------------------- Bottom line style */

/* ---------------------------- Navigation styling - Home Page */
/* Reference: w3schools.com (slide down bar & responsive nav documentation) */

#navigation {
	background-color: #70ff8d;
	top: -82px; /* Hide the navbar 82 px outside of the top view */
	width: 100%; /* Full width */
	transition: top 0.4s; /* Transition effect when sliding down (and up) */
	position: fixed;
	display: block;
	overflow: hidden;
	z-index: 3;
}

/* Style the links inside the navigation bar */
#navigation a {
	display: block;
	color: #0047ec;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.5rem;
	font-family: "Pangolin", cursive;
}

/* Style the active class in navbar */
#navigation .active,
a.btn:hover {
	background-color: #ffff;
	color: #ffa570;
	border-radius: 1rem;
}

#navigation .logo a {
	float: left;
	font-family: "Bungee Shade", cursive;
	color: #0047ec;
}

#navigation .logo span {
	font-size: 1.8rem;
	display: block;
}

#navigation .menu a {
	float: right;
}

/* Hide link that should open and close the topnav on small screens */
#navigation .hamburger-bar {
	display: none;
}

/* The sticky class is added to navbars on all other html pages except for index */
.sticky {
	top: 0 !important;
}

/* ---------------------------- Video section styling */
/* Reference: iEatWebsites YouTube channel (How to add a video background) */
#video-section video {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
}

#video-section {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
#video-section .brand-container {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#video-section .brand-container h1 {
	text-align: center;
	font-size: 6.5rem;
	font-family: "Bungee Shade", cursive;
	margin: 15px;
	z-index: 2;
	color: #ffa570;
}

#video-section .brand-container h2 {
	z-index: 2;
	font-family: "montserrat", sans-serif;
	color: #ffa570;
	font-size: 1.7rem;
	font-weight: 900;
	text-align: center;
}

#video-section .brand-container span {
	font-size: 5.5rem;
	z-index: 1;
	color: #ffa570;
}

#video-section .brand-container span:hover {
	color: #0047ec;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* Scroll down animation */
#video-section .scroll-down {
	display: flex;
	flex-direction: column;
	margin-top: 4rem;
	align-items: center;
	color: #70ff8d;
}

#video-section .scroll-down a {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
	padding: 1rem;
	text-decoration: none;
	color: #70ff8d;
	scroll-behavior: smooth;
}

/* Code snippet - https://codepen.io/bisaillonyannick/pen/pvZeGg */
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-30px);
	}
	60% {
		transform: translateY(-15px);
	}
}
/* Scroll down animation */

/* ---------------------------- About Section */
#about-section {
	display: flex;
	flex-wrap: nowrap;
	min-height: 100vh;
	flex-direction: row;
	justify-content: space-evenly;
}

#about-section .about-image {
	padding: 1rem;
}

#about-section,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

/* About Section */

/* ---------------------------- Map Section */

#map-section {
	display: flex;
}

/* Map height */
div#map {
	min-height: 100vh;
	width: 100%;
}

/* Map Category Buttons */
#map-section .categories-container {
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #ffd470;
}

#map-section .instructions {
	padding-top: 5rem;
}

#map-section .categories-container button {
	font-family: "pangolin", cursive;
	color: #ff70e2;
	width: 100%;
	height: 4rem;
	border: 1px solid #0047ec;
	background-color: #ebf1ff;
	border-radius: 0.5rem;
	margin: 0.4rem 0;
}

/* ---------------------------- Top Spots Section */

#topspots-section {
	margin-top: 8rem;
}

#topspots-section .topspots-heading h3 {
	font-family: "Bungee Shade", cursive;
	color: #001034;
}

#topspots-section .topspots-heading p {
	color: #001034;
}

/* Overide Tachyon z-index class to position images behind nav on scroll */
.aspect-ratio--object {
	z-index: -1;
}

/* Top Spots Section */

/* --------------------------- Contact Page */

#contact-section {
	margin-top: 5rem;
	background: url(../media/water_detail.jpg) no-repeat center center;
	background-size: cover;
}

#contact-section > div > div {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(108, 20, 119, 0.2));
}

#contact-section h2,
h3,
p,
input,
textarea {
	font-weight: 900;
	font-family: "pangolin", cursive;
}

#contact-section i {
	color: #7ad7ff;
}

/* Overide tachyon styling to center button */
#contact-section button {
	font-family: "pangolin", cursive;
	background-color: #ffa570;
	color: #0047ec;
}

#contact-section button:hover {
	background-color: #0047ec;
	color: #ffa570;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0, 0, 0); /* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
/* https://www.w3schools.com/howto/howto_css_modals.asp */

.modal-content {
	background-color: #faff70;
	margin: 15% auto; /* 15% from the top and centered */
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 1.5rem;
	width: 80%; /* Could be more or less, depending on screen size */
	font-size: 1.3rem;
	text-transform: uppercase;
	color: #001034;
}

/* The Close Button */
.close {
	color: #ff709b;
	float: right;
	font-size: 2.7rem;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #001034;
	text-decoration: none;
	cursor: pointer;
}
/* --------------------------- Contact Page */

/* --------------------------- News Page */

#news-section {
	margin-top: 7rem;
}

#news-section > article > a > div > div > h1 {
	font-family: "montserrat", sans-serif;
}
/* --------------------------- News Page */

/* ---------------------------- Footer */

footer {
	background-color: #ff70e2;
	position: sticky;
}
