body {
	margin: 0;
	box-sizing: border-box;
}

p,
b,
li {
	font-family: "Pangolin", cursive;
}

/* ---------------------------- Blue color pallete */
.test-classes {
	color: #36a2bd;
	color: #023e8a;
	color: #0077b6;
	color: #0096c7;
	color: #00b4d8;
	color: #48cae4;
	color: #90e0ef;
	color: #ade8f4;
	color: #caf0f8;
}

/* ---------------------------- Complimentary color pallete */
.test-classes {
	color: #bf36a4;
	color: #a4bf36;
	color: #36a2bd;
	color: #bf7f36;
	color: #bf3648;
}

/* ---------------------------- Bottom line styles */
.bottom-line {
	height: 2px;
	width: 3rem;
	background: #ff428e;
	display: block;
	margin: 0 auto 1rem auto;
}

.bottom-line2 {
	height: 2px;
	width: 3rem;
	background: #023e8a;
	display: block;
	margin: 0 auto 1rem auto;
}

.bottom-line3 {
	height: 2px;
	width: 3rem;
	background: #bf7f36;
	display: block;
	margin: 0 auto 1rem auto;
}
/* ---------------------------- Bottom line styles */

/* ---------------------------- Navigation styling - Home Page */
/* Reference: w3schools.com (slide down bar & responsive nav documentation) */

#navigation {
	background-color: #ade8f4;
	top: -82px; /* Hide the navbar 82 px outside of the top view */
	width: 100%; /* Full width */
	transition: top 0.4s; /* Transition effect when sliding down (and up) */
	position: fixed;
	display: block;
	overflow: hidden;
	z-index: 3;
}

/* Style the links inside the navigation bar */
#navigation a {
	display: block;
	color: #bf7f36;
	font-weight: bold;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 1.3rem;
	font-family: "Pangolin", cursive;
}

#navigation .logo a {
	float: left;
	font-family: "Bungee Shade", cursive;
	color: #023e8a;
}

#navigation .logo span {
	font-size: 1.8rem;
	display: block;
}

#navigation .menu a {
	float: right;
}

/* Hide link that should open and close the topnav on small screens */
#navigation .hamburger-bar {
	display: none;
}

/* The sticky class is added to navbars on all other html pages except for index */
.sticky {
	top: 0 !important;
}

/* ---------------------------- Video section styling */
/* Reference: iEatWebsites YouTube channel (How to add a video background) */

#video-section {
	position: relative;
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
#video-section .brand-container {
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#video-section .brand-container h1 {
	text-align: center;
	font-size: 6.5rem;
	font-family: "Bungee Shade", cursive;
	margin: 15px;
	z-index: 2;
	color: #caf0f8;
}

#video-section .brand-container span {
	font-size: 5.5rem;
	z-index: 1;
	color: #caf0f8;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

/* ---------------------------- About Section */
#about-section {
	display: flex;
	flex-wrap: nowrap;
	min-height: 100vh;
	flex-direction: row;
	justify-content: space-evenly;
}

#about-section .about-image {
	padding: 1rem;
}

#about-section,
h2,
h3 {
	font-family: "Montserrat", sans-serif;
}

/* About Section */

/* ---------------------------- Map Section */

#map-section {
	display: flex;
}

/* Map height */
div#map {
	min-height: 100vh;
	width: 100%;
}

/* Map Category Buttons */
#map-section .categories-container {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 40%;
	background-color: #a4bf36;
}

#map-section .instructions {
	padding-top: 5rem;
}

#map-section .categories-container button {
	font-family: "pangolin", cursive;
	color: #bf36a4;
	width: 100%;
	height: 4rem;
	border: 1px solid #023e8a;
	background-color: #caf0f8;
	border-radius: 0.5rem;
	margin: 0.4rem 0;
}

/* ---------------------------- Top Spots Section */

#topspots-section {
	margin-top: 8rem;
}

#topspots-section > div.topspots-heading.tc > h3 {
	font-family: "Bungee Shade", cursive;
}

/* Overide Tachyon z-index class to position images behind nav on scroll */
.aspect-ratio--object {
	z-index: -1;
}

/* Top Spots Section */

/* --------------------------- Contact Page */

#contact-section {
	margin-top: 5rem;
	background: url(../media/water_detail.jpg) no-repeat center center;
	background-size: cover;
}

#contact-section > div > div {
	background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(108, 20, 119, 0.2));
}

#contact-section h2,
h3,
p,
input,
textarea {
	font-weight: 900;
	font-family: "pangolin", cursive;
}

#contact-section i {
	color: #7ad7ff;
}

/* Overide tachyon styling to center button */
#contact-section button {
	font-family: "pangolin", cursive;
	background-color: #e2e7ee;
	color: #bf7f36;
}

#contact-section button:hover {
	background-color: #bf7f36;
	color: #023e8a;
}

/* --------------------------- Contact Page */

/* --------------------------- News Page */

#news-section {
	margin-top: 7rem;
}

#news-section > article > a > div > div > h1 {
	font-family: "montserrat", sans-serif;
}
/* --------------------------- News Page */

/* ---------------------------- Footer */

footer {
	background-color: #bf36a4;
	position: sticky;
}
